<h1>Assignments#authorize</h1>
<p>An author has fulfilled your requested assignment. Please accept or reject accordingly. You can also request the author to rewrite the assignment if desired. Please specify any changes that need to be made.</p>

<h1><%= @assignment.title %></h1>


<p><%= @assignment.body %></p>

<%= form_tag("/assignments/#{@assignment.id}/published") do %>
  <div><%= submit_tag 'Accept' %></div>
<% end %>
<div>
  <%= form_tag("revision") do %>
  <%= submit_tag 'Revision' %>
<% end %>


<%= form_tag("reject") do %>
  <%= submit_tag 'Reject' %>
<% end %>

</div>
