<h1>Assignments#confirm</h1>
<p>Find me in app/views/assignments/confirm.html.erb</p>
<div class="media"> 
  <div class="media-body">
    <div class="row">
      <div class="span12">
        <div class="thumbnail">      
          <h4><%= @assignment.title %></h4>
            <p><%= @assignment.body %></p>
            <p><%= @assignment.word_count %></p>
            <p><%= @assignment.language %></p>
            <p><%= @assignment.rating %></p>
            <p><%= @assignment.key_words %></p>
            <p><%= @assignment.cost %></p>
            <p><%= @assignment.style %></p>
            <p><%= @assignment.instructions %></p>  
          </div>          
        </div>
      </div>
    </div> 
  </div>
