<h1>All Assignments</h1>
<% if can? :create, Assignment %>
<%= link_to "New Assignment", new_assignment_path, class: 'btn btn-primary btn-mini' %>
<% end %>
<% @assignments.each do |assignment| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to assignment.title, assignment %>
      </h4>
      <small>
        submitted <%= time_ago_in_words(assignment.created_at) %> ago by <%= assignment.user.name %><br/>
        <%= assignment.comments.count %> Comments
      </small>
    </div>
  </div>
<% end %>