<h1>Assignment Resubmit</h1>
<p>An author has fulfilled your requested revision. Please accept or reject accordingly. You can also request the author to rewrite the assignment if desired. Please specify any changes that need to be made below.</p>

<h1><%= @assignment.title %></h1>


<p><%= @assignment.body %></p>

<%= form_tag("/assignments/#{@assignment.id}/published") do %>
  <%= submit_tag 'Accept' %>
<% end %>

  <%= form_tag("/assignments/#{@assignment.id}/revision") do %>
  <%= submit_tag 'Revision' %>
<% end %>


<%= form_tag("reject") do %>
  <%= submit_tag 'Reject' %>
<% end %>


