<div class="media"> 
  <div class="media-body">
    <div class="row">
      <div class="span12">
        <div class="thumbnail">      
          <h4><%= @assignment.title %></h4>
            <p><%= @assignment.body %></p>
            <p><%= @assignment.word_count %></p>
            <p><%= @assignment.language %></p>
            <p><%= @assignment.rating %></p>
            <p><%= @assignment.key_words %></p>
            <p><%= @assignment.cost %></p>
            <p><%= @assignment.style %></p>
            <p><%= @assignment.instructions %></p>  
          </div>          
        </div>
      </div>
    </div> 
  </div>





<p><%= @assignment.word_count %></p>
<p><%= @assignment.language %></p>
<p><%= @assignment.rating %></p>
<p><%= @assignment.key_words %></p>
<p><%= @assignment.cost %></p>
<p><%= @assignment.style %></p>
<p><%= @assignment.instructions %></p>

<%= form_tag("#{@assignment.id}/renew") do %>
  <div><%= submit_tag 'Release' %></div>
<% end %>
<div>
<% if can? :edit, @assignment %>
<%= link_to "Edit", edit_assignment_path(@assignment), class: 'btn btn-mini' %>
<% end %>

<%= form_tag("#{@assignment.id}/write") do %>
  <div><%= submit_tag 'Write' %></div>
<% end %>

</div>
