<h1><%= @assignment.title %></h1>


<p><%= @assignment.body %></p>

<%= form_tag("#{@assignment.id}/renew") do %>
  <div><%= submit_tag 'Release' %></div>
<% end %>
<div>
<% if can? :edit, @assignment %>
<%= link_to "Edit", edit_assignment_path(@assignment), class: 'btn btn-mini' %>
<% end %>

<%= form_tag("#{@assignment.id}/write") do %>
  <div><%= submit_tag 'Write' %></div>
<% end %>

</div>
