<h3>Write Assignment</h3>

<p style="text-align: justify;">You have elected to write this assignment. Please read the requirements carefully. Once you have written the assignment it will be reviewed by the client. They may request a revision so please check your assignment status regularly. Should they accept your submission you will be paid the agreed amount accordingly.</p>

<p>Alternatively, you can elect to cancel the assignment, but you will only be allowed to select this assignment once more.</p>

<hr>

<h4><%= @assignment.title %></h4>

<p><%= @assignment.body %></p>

<div class="span-6">
    <%= form_for @assignment, html: { class: 'form-horizontal' } do |f| %>
      </div>
      <div class="control-group">
        <%= f.label :body, class: 'control-label' %>
        <div class="controls">
          <%= f.text_area :body, rows: 8 %>
        </div>
      </div>
      </div>
    <% end %>
    <div class="control-group">
      <div class="controls">
    <%= form_tag("cancel") do %>
    <%= submit_tag 'Cancel' %>
    </div>
</div>
  <% end %>
 <div class="control-group">
      <div class="controls">
  <%= form_tag("/assignments/#{@assignment.id}/authorize") do %>
  <%= submit_tag 'Submit' %>
<% end %>
</div>
  </div>
  







